stages:
  - test
  - setup
  - build
  - predeploy
  - deploy

image: node:20

cache:
  paths:
    - "node_modules"
    - "dist"
    - ".sonar/cache"

test:
  stage: test
  image: sonarsource/sonar-scanner-cli:5.0.1
  script:
    # On utilise la clé confirmée par votre URL : tommy-requillard_trmhtt-req
    # On force la branche à 'master' pour éviter l'erreur "Default branch not found"
    - sonar-scanner 
      -Dsonar.organization=tommy-requillard
      -Dsonar.projectKey=tommy-requillard_trmhtt-req
      -Dsonar.sources=. 
      -Dsonar.host.url=https://sonarcloud.io 
      -Dsonar.token=$SONAR_TOKEN
      -Dsonar.branch.name=$CI_COMMIT_REF_NAME

setup:
  stage: setup
  script:
    - git config user.email "tommy.requillard@gmail.com"
    - git config user.name "tommy.requillard"

build:
  stage: build
  script:
    - npm ci
    # Création du fichier .env au bon moment (avant le build)
    - echo "REACT_APP_BASE_URL=https://reactwebdevcv.netlify.app/.netlify/functions/api" > .env
    - npm run build
  artifacts:
    paths:
      - dist/
  only:
    - master

predeploy:
  stage: predeploy
  script:
    - cp netlify.toml dist/
  only:
    - master

deploy:
  stage: deploy
  image: node:20
  before_script:
    - npm install -g netlify-cli
  script:
    - netlify link --id $NETLIFY_SITE_ID
    - netlify deploy --dir "dist" --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN --prod
  only:
    - master
  dependencies:
    - build