stages:
  - test
  - build
  - deploy

# On fixe la version de Node pour éviter les surprises (la v20 est l'actuelle LTS)
image: node:20

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

test:
  stage: test
  image: sonarsource/sonar-scanner-cli:latest
  # Le scanner détectera automatiquement la variable SONAR_TOKEN définie dans GitLab
  script:
    - sonar-scanner

build:
  stage: build
  script:
    - npm ci
    # CORRECTION : On injecte la variable AVANT le build
    - echo "REACT_APP_BASE_URL=https://reactwebdevcv.netlify.app/.netlify/functions/api" >> ".env"
    - npm run build
    - cp netlify.toml dist/ # On prépare tout dans dist ici
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour
  only:
    - master

deploy:
  stage: deploy
  script:
    # Pas besoin de npm ci ici si on utilise npx pour netlify
    # ou si netlify-cli n'est pas dans vos devDependencies.
    # Installation légère de l'outil de déploiement uniquement :
    - npm install -g netlify-cli
    
    # On déploie le dossier dist créé à l'étape précédente
    - netlify deploy --dir "dist" --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN --prod
  dependencies:
    - build
  only:
    - master