stages:
  - test
  - setup
  - build
  - predeploy
  - deploy

# On fixe Node 20 pour être iso-prod avec GitHub Actions
image: node:20

cache:
  paths:
    - "node_modules"
    - "dist"
    - ".sonar/cache"

test:
  stage: test
  # On utilise la version 5.0.1 qui est stable et inclut Java (évite les erreurs de téléchargement)
  image: sonarsource/sonar-scanner-cli:5.0.1
  script:
    # TECHNIQUE DE MAITRISE : Surcharge des paramètres
    # On force la clé du projet et l'organisation directement ici.
    # Cela permet à GitLab d'avoir sa propre config sans toucher au fichier qui sert à GitHub.
    # On ajoute '-Dsonar.branch.name' car GitLab est souvent en mode 'Detached HEAD'.
    - sonar-scanner 
      -Dsonar.organization=tommy-requillard
      -Dsonar.projectKey=tommy-requillard_reactWebDevCV
      -Dsonar.sources=. 
      -Dsonar.host.url=https://sonarcloud.io 
      -Dsonar.token=$SONAR_TOKEN
      -Dsonar.branch.name=$CI_COMMIT_REF_NAME

setup:
  stage: setup
  script:
    - git config user.email "tommy.requillard@gmail.com"
    - git config user.name "tommy.requillard"

build:
  stage: build
  script:
    - npm ci
    # CORRECTION CRITIQUE REACT :
    # GitHub utilise $GITHUB_ENV, mais ici on doit créer le fichier .env
    # AVANT le build pour que Vite/React "cuise" la variable dans le JS.
    - echo "REACT_APP_BASE_URL=https://reactwebdevcv.netlify.app/.netlify/functions/api" > .env
    - npm run build
    - ls -la dist/
  artifacts:
    paths:
      - dist/
  only:
    - master

predeploy:
  stage: predeploy
  script:
    # Optimisation : inutile de refaire npm ci ici, on copie juste le fichier config
    - cp netlify.toml dist/
  only:
    - master

deploy:
  stage: deploy
  image: node:20
  before_script:
    - npm install -g netlify-cli
  script:
    - ls -la dist/
    - netlify link --id $NETLIFY_SITE_ID
    - netlify deploy --dir "dist" --auth $NETLIFY_AUTH_TOKEN --prod
  only:
    - master
  dependencies:
    - build