@tailwind base;
@tailwind components;
@tailwind utilities;

.react-pdf__Page {
    position: relative;
}

@media (max-width: 1024px) {
    .react-pdf__Page {
        width: 299px;
        height: auto;
    }
}

.react-pdf__Page * {
    display: none;
}

.react-pdf__Page__canvas {
    display: block;
}

@media (max-width: 1024px) {
    .react-pdf__Page__canvas {
        width: 299px;
        height: auto;
    }
}

@media (width: 320px) {
    .radar-chart-mobile {
        width: 299px;
    }
}