@tailwind base;
@tailwind components;
@tailwind utilities;

/* lightbox-custom.css */
.yarlb-button {
    background-color: #333; /* Couleur de fond gris foncé */
    color: #fff; /* Couleur du texte en blanc */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style du bouton Fermer */
.yarlb-close-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}